<div class="tabs-top">
  <nav class="tabs-overhead">
    <a class="tabs__tab tabs__tab--active">Food</a>
    <a class="tabs__tab">Recepies</a>
  </nav>
  <nav class="tabs-overhead">
    <a class="tabs__tab">Food</a>
    <a class="tabs__tab tabs__tab--active">Recepies</a>
  </nav>
</div>

<!-- <section class="selector-layout">
  <article class="selector-active">
    <span class="selector-color-active"><p>Food</p></span>
  </article>
  <article class="selector-inactive">
    <span class="selector-color-inactive"><p>Recepies</p></span>
  </article>
</section>
 -->
