.welcome {
  height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome__title {
  color: var(--color-background);
  font-size: 4rem;
  animation: 3s infinite ease-in-out alternate fadeIn,
    6s infinite ease-in-out alternate bounce,
    6s infinite ease-in-out alternate scale;
}
.welcome__title--h1 {
  font-size: 3rem;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-4rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(4rem);
  }
}
