.avatar {
  position: relative;
  height: 10rem;
  width: 10rem;
}
.avatar__badge {
  display: grid;
  position: absolute;
  place-items: center;
  border: 2px solid #ffffff;
  bottom: 4px;
  right: 20px;
  padding: 0.375rem;
  margin: 0.1rem;
  background-color: var(--color-settings);
  border-radius: 50%;
}
.avatar__image {
  position: absolute;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}
